@model EmployeeManagement.Models.Employee


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Show Selected Employee Details";
}


<h5>@ViewBag.Title</h5>

<div>
    Name: @Model.Name
</div>
<div>
    Email: @Model.Email
</div>
<div>
    Department: @Model.Department
</div>

@section Scripts {
    <script src="~/js/customscript.js"></script>
}