<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h5>@ViewData["PageTitle"]</h5>

    @{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }

    <div>
        Name: @employee.Name
    </div>
    <div>
        Email: @employee.Email
    </div>
    <div>
        Department: @employee.Department
    </div>
</body>
</html>